.wrap {
  text-align: center;
  margin: 0 auto;
  height: 100%;
}

.text-field {
  width: 500px;
  height: 100px;
}

.button {
  width: 150px;
  height: 50px;
}

.list-text {
  margin: 30px auto;
}

.list-text p {
  display: block;
  width: 400px;
  height: 30px;
  font-size: 20px;
  margin: 5px auto;
}

.list-qa {
  margin: 20px auto;
}